.iframe-container {
  width: 100%;
}

.projectxi-iframe {
  width: 80%;
  height: 50%;
}

.t-4 {
  font-size: 4rem;
}

.t-3 {
  font-size: 3rem;
}

.t-2 {
  font-size: 2rem;
}

.t-1 {
  font-size: 1rem;
}


.def-f {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: lighter;
}

.App-link {
  color: #61dafb;
}
